
$primary_color: #54c0ce;
$secondary_color: #e58a71;
$terciary_color: #e4d3d2;
$other_color: #94cad1;
$another_color: #a8eeac;

$primary_font: 'Neucha', cursive;
$secondary_font: 'Nunito', sans-serif;