@import "../styles/variables";

.buttons {

  .view {
    padding-right: 0.5em;
    border: unset;
    background-color: transparent;
    color: #179fc9;
    position: relative;
    display: inline-block;

    &:hover {
      color: #04799c;
    }

    .tooltiptext {
      visibility: hidden;
      width: 60px;
      bottom: 100%;
      left: 50%;
      margin-left: -30px;
      background-color: grey;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 9999;
      font-size: 15px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: grey transparent transparent transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }


  .delete {
    padding-right: 0.5em;
    border: unset;
    background-color: transparent;
    color: rgb(233, 81, 81);
    position: relative;
    display: inline-block;

    &:hover {
      color: rgb(238, 20, 20);
    }

    .tooltiptext {
      visibility: hidden;
      width: 60px;
      bottom: 100%;
      left: 50%;
      margin-left: -30px;
      background-color: grey;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 9999;
      font-size: 15px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: grey transparent transparent transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }
}