


.map {
  margin-bottom: 3em;
  margin-left: 5em;

  .leaflet-container {
    height: 200px;
    width: 500px;
  }

  .map_info {
    display: flex;
    justify-content: left;
  }

  .pin_img {
    height: 70px;
  }

}
