@import "../styles/variables";

.map {
  margin-bottom: 3em;
  margin-left: 4.1em;
  border: 2px solid $other_color;
  border-radius: 7px;
  font-family: $secondary_font;
  height: auto;

  .map_btns {
    color: red;
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    padding-top: 0.5em;
  }


  .map_info {
    padding-left: 1em;
    padding-bottom: 0.5em;
    margin-top: -1.5em;

    #title {
      font-weight: bold;
      margin-bottom: 3em;
    }

    .input-field-map {
      margin-left: 0.4em;
      width: 20em;
      position: absolute;
      margin-top: -0.3em;
    }

  }

  .leaflet-container {
    height: 200px;
    width: 500px;
  }

  .pin_img {
    height: 70px;
  }

  .edit {
    //text-align: right;
    padding-left: 0.3em;
    //padding-top: 0.5em;
    cursor: pointer;
    //font-weight: bold;
    color: $another_color;
    position: relative;
    display: inline-block;

    &:hover {
      color: #74ca77;
    }

    .tooltiptext {
      visibility: hidden;
      width: 60px;
      bottom: 100%;
      left: 50%;
      margin-left: -30px;
      background-color: grey;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      z-index: 9999;
      font-size: 15px;

      &::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: grey transparent transparent transparent;
      }
    }

    &:hover .tooltiptext {
      visibility: visible;
    }
  }

  .created_by {
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    #created {
      //color: $primary_color;
      font-weight: bold;
    }

    #username {
      cursor: pointer;
      color: $secondary_color;
      font-weight: bold;
    }
  }



}
