@import "../styles/variables";

.map_page {
  margin-bottom: 2em;

  .scroll_up {
    position: fixed; 
    left: 97.5%;
    bottom: 2%;
    font-size: 40px;
    color: $primary_color;
    cursor: pointer;
  }

  .map_all {
    font-family: $secondary_font;
    display: flex;
    flex-direction: column;

    .title {
      margin-left: 11.5em;
      margin-top: 1em;
      font-size: 20px;
      font-weight: bold;
    }

    .location {
      margin-left: 15.5em;
      color: grey;
      font-size: 15px;
    }

    .created_by {
      margin-left: 15.5em;
      color: grey;
      font-size: 15px;

      #username {
        cursor: pointer;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .map_all_view {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2em;
  
      .leaflet-container {
        height: 60em;
        width: 120em;
        border: 1px solid grey;
        border-radius: 7px;
        
      }
    }
    
    .pin_btn {
      background-color: $another_color;
      border-color: $another_color;
      color: black;
      width: 5em;
      margin-left: 99.5em;
      margin-top: 1em;
      font-weight: bold;
    }

  }

  .comments_likes {
    display: flex;
    align-items: center;
    margin-left: 14.5em;
    margin-top: -2.5em;
    font-family: $secondary_font;

    .fa-heart {
      margin-right: -0.5em;
      cursor: pointer;
    }

    .like_btn {
      background: transparent;
      color: black;
      border: none;
      font-weight: bold;

      &:focus {
        background: transparent;
        color: black;
        border: none;
      }
    }

    .fa-comment {
      color: $primary_color;
    }

    .comment_btn {
      font-weight: bold;
      margin-left: 0.2em;
    }
  }

  .add_comment {
    margin-left: 14em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: $secondary_font;

    img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      border-radius: 50px;
      margin-right: 1.5em;
      margin-bottom: 0.2em;
    }

    input {
      height: 2.7em;
      width: 80em;
      padding-left: 0.5em;
    }

    .add {
      background-color: $primary_color;
      border: none;
      margin-left: 1em;
      width: 5em;
      border-radius: 5px;
      height: 2.7em;
      font-weight: bold;
    }
  }

}

.modal-title.h4 {
  font-family: $secondary_font !important;

}