@import "~bootstrap/scss/bootstrap";
@import "../styles/variables";

nav {
  display: flex;
  justify-content: space-between;
  //background-color: $secondary_color;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../public/images/test.png");
  height: 7em;
  border-bottom: 1px solid $primary_color;
  
  .logo {
    color: $primary_color;
    font-size: 35px;
    font-weight: bold;
    padding-left: 1em;
    cursor: pointer;
    font-family: $primary_font;
    display: flex;
    align-items: center;

    i {
      padding-right: 0.3em;
    }
  }

  .navbar_btn_lp {
    padding-right: 1em;
    display: flex;
    align-items: center;

    .login_and_register {
      font-family: $secondary_font;
      width: 6em;
      //background-color: $primary_color;
      background-color: transparent !important;
      color: $primary_color;
      font-weight: bold;
      border-color: $primary_color;
    }
  }

  .navbar_btn_lp_after_login {
    padding-right: 1em;
    display: flex;
    align-items: center;
    font-family: $secondary_font;
    

    .create {
      background-color: $primary_color;
      border-color: $primary_color;
      margin-right: 1em;
    }

    .profile_btn {
      background-color: transparent !important;
      color: $primary_color;
      font-weight: bold;
      //border: 1px solid $primary_color;
      border: none;
      margin-right: -0.3em;

      &:hover {
        color: $secondary_color;
      }
    }

    .logout {
      background-color: transparent !important;
      color: $primary_color;
      font-weight: bold;
      border: 1px solid $primary_color;
      border-radius: 5px;
      width: 6em;
      height: 2.3em;
      margin-right: 1em;
    }

    #welcome {
      margin-right: 1em;
    }
  }
}